/*---------Семантика----------*/

html {
    height: 100%;
}


body {
    display:flex;
    flex-direction: column;
    //background-color: #efefef;
    max-width: 1920px;
    margin: auto;
    color: #120e27;
    height: 100%;
    min-width: 620px;
    font-size: 20px;
    line-height: 1.5;
    padding: 0;
}

header {
    background: url(../image/fon1.jpg) no-repeat;
    background-size: cover;
}

main {
    flex-grow:1;
}

footer {
    border-top: solid #dcdcdc 2px;
}

@font-face {
    font-family: "Arial";
    src:url(../fonts/arial.ttf);
}


.container {
    padding-left: 12%;
    padding-right:13%;
    width: 75%;
    height: auto;
}

.name{
    font-family: "Arial";
    font-size: 40px;
    margin: 0px;
}

.name p {
    line-height: 20px;
}

.zag {
    font-family: "Arial";
    font-size: 20px;
    font-weight: bold;
}

.desk {
    font-family: "Arial";
    font-size: 16px;
    font-style: italic;
    color: white;
}








white {
    color: white;
}

header {
    background-size: 100%;
    background: url(../image/fon1.jpg) no-repeat;
    color: white;
}

.menu {
    border-bottom: solid #dcdcdc 2px;
}

.menu p {
    font-family: "Arial";
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
}

.menu a {
    text-decoration: none;
    padding: 6px 30px 6px 30px;
    color: black;
    border: solid  #dcdcdc 1px;
}

.menu a:hover {
    background-color: blanchedalmond;
}

.logo {
    margin: 20px 0 0 30px;
    font-size: 30px;
}

/*---------FLEX----------*/

.flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
}

.flex_centr {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.offers {
    padding-bottom: 30px;
}

.offer {
    width: 23%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    min-width: 285px;
    cursor: pointer;

}

.offer:hover .zag {
    color: red;
}

.offer img {
    width: 100%;
}

footer img {
    width: 70px;
    padding: 20px 10px 20px 10px;
    cursor: pointer;
}

footer img:hover {
    width: 80px;
    padding: 15px 5px 15px 5px;
}

footer p {
    font-family: "Arial";
    font-size: 15px;
    color: grey;
    margin: 0;
    text-align: center;
}

.info {
    margin-bottom: 15px;
}
